.billing {
    display: flex;
   

    .left2 {
        width: 50%;
        margin-left: 16px;
    }

    .billing {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 12px;

        h3 {
            font-size: 18px;
            font-weight: 500;
            color: #2E3A55;

        }
    }

    h2 {
        font-size: 35px;
        font-weight: 700;
        color: #0A2540;
        padding-right: 50px;
        margin-bottom: 24px;
    }

    p {
        font-size: 17px;
        font-weight: 500;
        color: #425466;
        margin-bottom: 24px;
        padding-right: 50px;
    }

    button {
        width: 185px;
        height: 33px;
        background-color: #635BFF;
        border-radius: 16px;
        font-size: 14px;
        color: #FFFFFF;
        border-color: #635BFF;
        border: none;

        img {
            margin-left: 5px;
        }

        transition: 0.3s;
        cursor: pointer;

    }

    button:hover {
        background-color: #0A2540;
    }
}

.left3 {
    margin-top: 56px;

    h6 {
        font-size: 15px;
        font-weight: 700;
        color: #0A2540;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: #425466;
        margin-bottom: 4px;

        span a {
            color: #635BFF;
            text-decoration: none;
            transition: 0.3s;
        }

        span a:hover {
            color: #0A2540;
        }
    }

}



.table {
    
    background-color: white;
    border-radius: 8px;
}

.table1 {
    
    display: flex;
    padding: 16px 22px;
    align-items: center;
    border-bottom: 1px solid #E7ECF1;
   
    
    
    
    .name {
        display: flex;
        align-items: center;
        margin-left: 23px;
        gap: 6px;
      
        

        h2 {
            font-size: 10px;
            color:#3F4B66;
            font-weight: 500;
           margin-bottom:  0px;
           
        }

    
    
    }

    .contact {
        
        display: flex;
        /* align-items: flex-end; */
        /* justify-content: flex-end; */

        
        p{
            font-size: 8px;
            font-weight: 500;
            margin-bottom: 0px;
            
        }

    
    }


}
.quantum-content-wrapper {
    display: flex;
    .content{
        height: 280px;
        width: 138px;
        border: 1px solid red;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 8px;
        margin-top: 9px;
    }
    .bottom-content{
        width: 108px;
        height: 105px;
        width: 108px;
        height: 105px;
        border: 1px solid green;
        margin-top: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* margin-bottom: 44px; */
    }
    .top-content{
        padding: 18px;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 108px;
        height: 28px;
        padding: 8px 34px 4px 34px;
        gap: 0px;
        border-radius: 3px;
        background-color: #9966FF;
    }
    h4, .bottom-content-text, p{
        font-weight: 500;
        font-size: 9px;
        color: #3F4B66;
    }
    h3{
        font-size: 12px;
        font-weight: 500;
        color: #3F4B66;
    }
    span.price{
        font-size: 18px;
        font-weight: 500;
    }
}