.built-growth{
    background-color: rgb(243 246 250);                    ;
    
    .top-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 16px;
        background-color: rgb(243 246 250);                    ;
        h3 {
            font-size: 16.17px;
            font-weight: 500;
            line-height: 28px;
            color: rgba(99, 91, 255, 1);
            padding-top: 32px;
        }

        h2 {
            font-size: 33.99px;
            font-weight: 700;
            color: rgba(10, 37, 64, 1);
        }

        p {
            font-size: 16.59px;
            font-weight: 500;
            color: rgba(66, 84, 102, 1);
            padding-right: 398px;
        }
    }

    .bottom-content {
        display: flex;
        width: 100%;
        gap: 32px;
        margin-top: 64px;
        .left {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-left: 16px;
            width: 50%;
            /* justify-content: flex-end; */
            .card {
                /* background-color: rgb(255 255 255); */
                background-color: red;;
                width: 100%;
                max-width: 510px;
                min-width: 480px;

                .card-content {
                    padding: 20px;
                    margin-bottom: 64px;
                    position: relative; /* Add this line */
                    z-index: 2;
                    h2 {
                        font-size: 24.07px;
                        font-weight: 500;
                        color: rgba(10, 37, 64, 1);
                    }
                    p {
                        font-size: 16.31px;
                        font-weight: 500;
                        color: rgba(66, 84, 102, 1);                    
                    }

                    .card-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        background-color: rgba(246, 249, 252, 1);
                        border-radius: 4px;
                        width: 17%;
                        min-width: 80px;
                        padding: 10px;
                    }
                    .card-header h3{
                        font-size: 11.25px;
                        font-weight: 500;
                        line-height: 15px;
                        color: rgba(46, 58, 85, 1);
                    }
                
                    .card-description {
                      font-size: 16px;
                      font-weight: 500;
                      color: #425466;
                      margin-top: 12px;
                    }
                }

                .card-image {
                    width: 434px;
                    height: 272px;
                    min-width: 100px;
                    min-height: 72px;
                    border-radius: 8px;
                    position: relative;
                    left: 72px;
                    top: 66px;
                    background-image: url("../media/images/atlas.png");
                    background-size: cover;
                    background-position: center;
                    transition: all 0.3s ease-in-out;
                    object-position: bottom;
                    z-index: 1;
                }
            }
        }
    }
}