.connect {
    display: flex;
    article{
        width: 540px;
        height: 449px;
        padding-left: 1.5%;
        > div:first-child {
            display: flex;
            gap: 10px;
            margin-bottom: 25px;
            margin-top: 10px;

            .connect-icon-wrapper {
                width: 20px;
                height: 20px;
                position: relative;
    
                > div:nth-child(1) {
                    width: 12.86px;
                    height: 13px;
                    background: linear-gradient(180deg, #11EFE3 6.58%, #15E8E2 23.77%, #1FD3E0 45.12%, #21CFE0 58.66%);
                    border-radius: 100% 100% 2px 100%;
                    width: 12.86px;
                    opacity: 0px;
                    position: absolute;
                    left: 0.14px;
                    z-index: 1;
                } 
                > div:nth-child(2){
                    background: linear-gradient(180deg, #00299C 14.4%, #0073E6 110.32%); width: 6px;
                    height: 6.01px;
                    top: 6.99px;
                    position: absolute;
                    left: 7px;
                    gap: 0px;
                    z-index: 3;
                    opacity: 0px; 
                    border-radius: 2px 0px 2px 0px;   
                }
                > div:nth-child(3) {
                    width: 12.86px;
                    height: 13px;
                    opacity: 0px;
                    background: #0073E6;
                    border-radius: 2px 100% 100% 100% ;
                    position: absolute;
                    left: 7px;
                    top: 7px;
                    z-index: 2;
                }
            }
            h3 {
                font-size: 17.02px;
                letter-spacing: 0.20000000298023224px;
                text-align: left; 
                color: #2E3A55;
            }
        }    
        h1 {
            width: 460px;
            height: 96px;
            font-family: Inter;
            font-size: 35.92px;
            font-weight: 700;
            letter-spacing: -0.20000000298023224px;
            text-align: left;
            color: #0A2540;
            margin-bottom: 20px;
        }
        h2 {
            width: 460px;
            height: 56px;
            font-size: 16.31px;
            font-weight: 500;
            line-height: 28px;
            color: #425466;
            letter-spacing: 0.20000000298023224px;
            margin-bottom: 20px;
        }
        /* From Uiverse.io by satyamchaudharydev */ 
        button {
            --primary-color: #635BFF;
            --secondary-color: #fff;
            --hover-color: #111;
            --arrow-width: 10px;
            --arrow-stroke: 2px;
            box-sizing: border-box;
            border: 0;
            border-radius: 20px;
            color: var(--secondary-color);
            background: var(--primary-color);
            display: flex;
            transition: 0.2s background;
            align-items: center;
            justify-content: center;
            gap: 0.6em;
            font-weight: 400;
            height: 33px;
            width: 173.28px;
            font-family: inter;
            letter-spacing: 0.2px;
            font-size: 13.48px;
            letter-spacing: 0.20000000298023224px;
            margin-bottom: 60px;
            cursor: pointer;
        }
        
        button .arrow-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        button .arrow {
            margin-top: 1px;
            width: var(--arrow-width);
            background: var(--primary-color);
            height: var(--arrow-stroke);
            position: relative;
            transition: 0.2s;
        }
        
        button .arrow::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            border: solid var(--secondary-color);
            border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
            display: inline-block;
            top: -3px;
            right: 3px;
            transition: 0.2s;
            padding: 3px;
            transform: rotate(-45deg);
        }
        
        button:hover {
            background-color: var(--hover-color);
        }
        
        button:hover .arrow {
            background: var(--secondary-color);
        }
        
        button:hover .arrow:before {
            right: 0;
        }

        h6 {
            font-size: 14.18px;
            font-weight: 500;
            letter-spacing: -0.20000000298023224px;
            color: #0A2540;
            margin-bottom: 10px;
        }
        span {
            display: flex;
            align-items: center;
            gap: 5px;
            line-height: 25px;

            h5{
                color: #635BFF;
                font-size: 13.71px;
                font-weight: 500;
                letter-spacing: 0.20000000298023224px;
                cursor: pointer;
                transition: 0.3s ease;
            }
            h4{
                color: #425466;
                font-size: 13.71px;
                font-weight: 500;
                letter-spacing: 0.20000000298023224px;
            }

            h5:hover{
                color: #0A2540;
            }
        }
    }
}